/* main */

.container{
    width: 65%;
}
.decoration{
    position: absolute;
    height: 7vh;
    width: 7vh;
    opacity: 75%;
    border-radius: 20px;
    background-color: orange;
}
li{
    /* list-style: none; */
}

a{
    text-decoration: none;
    /* color: black; */
}

/* header */


nav.mainNav{
    padding: 30px 0;
}
ul a{
    /* color: black; */
    text-decoration: none;
}
.btn{
    width: 120px;
    background-color: orange;
    border: 1px solid orange;
    /* padding: 5px 25px; */
    border-radius: 25px;
    color: white;
    /* text-align: center; */
}
header li a{
    color: black;
}


/* content bubbles */


section{
    height: 50vh;
}
.odd :nth-child(2){
    /* background-color: orange; */
}
section .col{
    /* background-color: beige; */
    height: 50vh;
    object-fit: cover;
    align-items: stretch;
}
.content{
    /* background-color: khaki; */
    /* width: 35vh; */
    /* height: 25vh; */
}
.thumbnail {
    /* background-color: aqua; */
    /* align-self: center; */
    border-radius: 20px;
    height: 35vh;
    width: 35vh;
}
.odd .decorationMain{
    background-color: orange;
}
.imgcontainer{
    position: relative;
    height: 35vh; 
    width: 35vh;
    /* background-color: orange; */
}
.odd .imgcontainer{
    align-self: flex-end;
}
.even .imgcontainer{
    align-self: flex-start;
}


/* blog area */

.blog{
    margin-top: 100px;
    /* padding-top: 50px; */
    /* min-height: 30vh; */
    height: 100%;
    background-color: rgb(223, 233, 244);
}

.card{
    /* height: 60vh; */
    border-radius: 30px;
    object-fit: cover;
    /* background-color: chocolate; */
}
.card .thumbnail{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 100%;
    width: 100%;
}
.card-body{
    /* height: 50% !important; */
}
.blog h2{
    padding: 4vh 0;
}


/* footer */

footer{
    position: relative;overflow: hidden;
    color: white;
    height: 31vh;
    background-color: rgb(20, 49, 82);
}
footer .container .mainRow{
    padding: 6.2vh 0px;
    /* background-color: cyan; */
    align-self: center;
}
.topRow{
    /* background-color: cyan; */
    height: 15vh;
}
footer ul{
    padding: 0;
    margin: 0;
    list-style: none;
    color: black;
}
footer ul li a{
    color: white;
}
fieldset{
    height: 8vh;
    /* background-color: blue; */
}
input{
    border-radius: 15px;
    border: none;
    height: 35px;
}
footer .decoration{
    opacity: 100%;
    height: 20vh;
    /* vh -> vw */
    width: 20vw; 
}
/* footer .decoration{
    height: 20vh;
    width: 20vh;
} */

